@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Demo Application</h1>
    <p>Click the link to go to the Category Page or click the above nav of Category Management <a href="/Category/CategoryManagement">Category Management</a>.</p>
</div>
